body {
  padding: 1%;
  margin: 0;
}

my-message {
  background-color: chocolate;
  border: 1pt solid darkgoldenrod;
  margin: 0;
  max-height: 200px;
  padding: 10pt;
  position: relative;
  display: none;
  top: 0;
  right: 0;
}

my-message[visible] {
  display: block;
}
