<template id="my-message-template">
  <style>
    :host {
      font-family: sans-serif;
      color: antiquewhite;
      display: none;
    }

    :host([visible]) {
      display: block;
    }

    :host([type="critical"]) {
      color: red;
      border: 1pt solid yellowgreen;
      font-weight: 900;
    }

    :host #close-box {
      cursor: pointer;
    }
  </style>

  <div id="content">
    <button id="close-box"> x</button>
    <slot></slot>
  </div>
</template>

<script src="../../bower_components/shadycss/apply-shim.min.js"></script>

<script>

  (function main() {
    'use strict';

    const thisImportDoc = document.currentScript.ownerDocument;

    class MyMessage extends HTMLElement {
      constructor() {
        super();
      }

      static get observedAttributes() {
        return ['visible'];
      }

      static get template() {
        if (!this._template) {
          this._template = thisImportDoc.querySelector('#my-message-template');
        }
        return this._template;
      }

      get visible() {
        return this.hasAttribute('visible');
      }

      set visible(value) {
        if (value) this.setAttribute('visible', value);
        else this.removeAttribute('visible');
      }

      connectedCallback() {

        this.visible = this.hasAttribute('visible');

        const shadowRoot = this.attachShadow({ mode: 'open' });
        const template = MyMessage.template;
        shadowRoot.appendChild(document.importNode(template.content, true));

        const closeBox = shadowRoot.querySelector('#close-box');
        closeBox.addEventListener('click', () => this.visible = false);

        const shadowDomSupported = !!HTMLElement.prototype.attachShadow;
        if (!shadowDomSupported) {
//          ShadyCSS.styleElement(this);
          ShadyCSS.applyStyle(this);
        }
      }
      /*
      disconnectedCallback() { console.log('el removed from the page.'); }
      adoptedCallback() { console.log('el removed from the page.'); }
      attributeChangedCallback(name, oldValue, newValue) { console.log('attrs changed', name, 'old', oldValue, 'new', newValue); }
      */
    }

    ShadyCSS.prepareTemplate(MyMessage.template, 'my-message');
    customElements.define('my-message', MyMessage);

  })();

</script>
